/* Общие стили */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7fc;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.chat-container-wrapper {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    padding: 10px;
}

.chat-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chat-header {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
}

.chat-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

#bot-name {
    font-size: 18px;
    font-weight: bold;
}

.chat-box {
    padding: 15px;
    flex-grow: 1;
    overflow-y: auto;
    max-height: 400px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
}

.user-message {
    background-color: #d1e7dd;
    margin-left: 50px;
    max-width: 75%;
    position: relative;
}

.bot-message {
    background-color: #f8d7da;
    margin-right: 50px;
    max-width: 75%;
    position: relative;
}

.message p {
    font-size: 14px;
    margin: 0;
}

.message strong {
    font-weight: bold;
}

.chat-footer {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #eee;
    background-color: #f8f9fa;
    border-radius: 0 0 10px 10px;
}

.submit-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #45a049;
}

.form-group {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
}

textarea:focus {
    outline: none;
    border-color: #4CAF50;
}

input[type="file"] {
    margin-top: 10px;
}

input[type="file"]:hover {
    cursor: pointer;
}
.settings-container {
    background-color: #f4f7fc;
    padding: 15px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.settings-container label {
    display: block;
    margin-top: 10px;
}

.settings-container input {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.settings-container button {
    margin-top: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.settings-container button:hover {
    background-color: #45a049;
}
